.nav {
  display: flex; 
  justify-content: space-between;
  align-items:center;
  flex-flow: row wrap;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #4056A1;
  color: #ffffff;
  padding-inline: 1.5em;
  z-index:1;
}

.tweeterlogo {
  margin: 1.5em;
  font-family: "Bungee", sans-serif; /*Just for tweeter logo*/
} 

.write-right {
  display: flex;
  flex-flow: column wrap;
  margin: .1em;
}

.write-tweet {
  font-size: .8em;
  margin-bottom: .5em;
}

#arrow:hover{
  color: rgb(73, 116, 225);
  height: 1rem;
  cursor: pointer;
}
