.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 90%;
  border:none;
}

textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid 5px #1c1234;
  width: 100%;
  font-size: 1em;
}

#overload, #empty {
  border: 0.3rem solid rgb(232, 50, 50);
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}


#tweet:hover {
  border: 6px outset #35103c;
  background-image: none;
  outline: none;
  transform: scale(2);
  opacity: 1;
}

.submit-tweet {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;

}

.tweet-btn{
  background-color: #4152a1;
  color: #ffffff;
  border: none;
  border-radius:1px;
}

.counter {
display:flex;
justify-content: space-between;
padding-top: 10px;
outline: none;
} 

